@sideColor: rgba(0, 114, 188, 1);
@sideWidth: 1.95in;
@pageMargin: 0.25in;

html, body {
  font-family: verdana;
  font-size: 9pt;
  margin: 0;
  height: 100%;
}

#main {
  position: relative;
  display: flex;
  width: 8.5in;
  padding: @pageMargin @pageMargin;
  min-height: 11in;

  #sidebar {
    margin-top: 32pt;
    min-width: @sideWidth;
    max-width: @sideWidth;
    background-color: @sideColor;
  }

  #content {
    max-width: 5.29in;
    margin: 19pt 0 0 0.25in;
  }

  h1 {
    position: absolute;
    left: @pageMargin;
    top: 10pt;
    width: @sideWidth;
    text-align: center;
  }

  h1 strong {
    display: block;
    text-transform: lowercase;
    font-size: 32pt;
    line-height: 32pt;
    font-weight: bold;
    width: @sideWidth;
    margin-bottom: 0;
  };

  h1 strong:nth-child(1) {
    color: @sideColor;
    letter-spacing: -0.5pt;
  }

  h1 strong:nth-child(2) {
    color: #fff;
    letter-spacing: 2.5pt;
    margin-top: -10pt;
  }

  h1 em { display: none; }

  h1 + p {
    position: absolute;
    left: @pageMargin;
    top: 1.5in;
    width: @sideWidth;
    text-align: center;

    strong { display: none; }

    a {
      display: block;
      font-size: 11pt;
      line-height: 14pt;
      margin-top: 8pt;

      &:link, &:visited { color: #fff; text-decoration: none; }
      &:hover { text-decoration: underline; }
    }
  }

  h2 {
    color: @sideColor;
    text-transform: lowercase;
  }

  h2, h3, h4, blockquote {
    margin-bottom: 4pt;
  }

  h2 + p,
  h2 + h3,
  h2 + h4,
  h3 + h4,
  h4 + ol,
  h4 + ul,
  h4 + blockquote,
  h4 + blockquote p {
    margin-bottom: 4pt;
    margin-top: 4pt;
  }

  h4 + blockquote {
    margin-left: 0;
  }

  #skills,
  #skills + ul,
  #languages,
  #languages + ul {
    position: absolute;
    left: @pageMargin + 0.125in;
    width: @sideWidth - (2 * 0.125in);
    margin: 0;
    color: rgba(255, 255, 255, 1);
  }

  #skills {
    bottom: 2.8in;
  }

  #skills + ul {
    bottom: 1.5in;
  }

  #languages {
    bottom: 1.05in;
  }

  #languages + ul {
    bottom: 0.4in;
  }

  #skills + ul,
  #languages + ul {
    margin: 0;
    list-style: none;
    padding: 0;
    padding-top: 8pt;
  }

  h3 {
    position: relative;

    em {
      position: absolute;
      right: 0;
      font-weight: normal;
    }
  }

}

